// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0275d8;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #C7DB95;
$gray: #0E0000;
$light-gray: #F4F4F4;
$peach: #FFCDB6;
$light-pink: #FAE4E6;
$pink: #e9847a;
$white: #FFF8F6;
$brown: #231A13;
$light-blue: #C4F2FF;
