// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #C4F2FF;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #C7DB95;
$gray: #0E0000;
$light-gray: #F4F4F4;
$peach: #FFCDB6;
$pink: #FAE4E6;
$white: #FFF8F6;
$brown: #231A13;
