.icon_and_text {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.icon {
  font-size: 7rem;
  color: $pink;
  margin: 5% 0 3% 0;
}

.confirm-title {
  padding: 1rem 0;
}

.confirm-text {
  padding: 1rem 0;
}

