.container {
  padding: 3rem;
}

.faq-title {
  text-align: center;
  padding: 1rem 0 4rem 0;

  h2 {
    border-bottom: 2px solid $peach;
    padding-bottom: 0.5rem;
  }
}

.accordion-item .accordion-button {
  background-color: $white
}

.accordion-button {
  color: $brown;
}

.accordion-button:focus {
  border-color: $peach;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: $brown;
}

@media (max-width: 576px) {
  .container {
    padding: 3rem 1rem;
  }
}