.button_area {
  height: 4rem;
  text-align: right;
  padding: 10px 0;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-gap: 0.5rem;
}

.box {
  position: relative;
}

.image {
  width: 100%;
  opacity: 1;
  display: block;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.btn-white {
  color: $brown;
  border: 1px solid $brown;
  border-radius: 0.5rem;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-white:hover {
  opacity: 1;
}

.box:hover .image {
  opacity: 0.3;
}

.box:hover .middle {
  opacity: 1;
}

.text {
  color: $brown;
  font-size: 16px;
  // padding: 16px 32px;
}

.gallery-title {
  text-align: center;
  padding: 1rem 0;

  h2 {
    border-bottom: 2px solid $peach;
    padding-bottom: 0.5rem;
  }
}

button {
  appearance: auto;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: center;
  background-color: none;
  box-sizing: border-box;
  margin: 0em;
  padding: 0;
  border: none;
}

.btn-close:focus {
  box-shadow: none;
}