body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

.price-table {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 10% 0;
}

.price-card {
  color: #555;
  background-color: #fff;
  width: 30%;
  height: 30rem;
  text-align: center;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 16px;
  max-width: 20rem;
  min-width: 20rem;
}

.info-text {
  text-align: center;
  padding-top: 5%;

  h2 {
    border-bottom: 2px solid $peach;
    padding-bottom: 0.5rem;
  }
}

@media screen and (max-width: 576px) {
  .price-table {
    flex-direction: column;
  }
  
  .price-card {
    margin-bottom: 2rem;
  }
}