.price-table {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-top: 5%;
}

.price-card {
  color: #555;
  background-color: #fff;
  width: 45%;
  height: 50rem;
  text-align: center;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 16px;
  max-width: 24rem;
  min-width: 18rem;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  p {
    margin-top: 0.5rem;
  }
}

span {
  font-weight: bolder;
  font-size: 1.1rem;
}

.price-card__title {
  border-bottom: 2px solid $peach;
  padding-bottom: 0.5rem;
}

.price-card__flavour__cake {
  padding-top: 1rem;
  p {
    padding-top: 1rem;
  }
}

.price-card__flavour__cupcake {
  padding-top: 1rem;
  p:first-of-type {
    padding-top: 1rem;
  }
}

.price-card__size-left {
  padding-top: 3.6rem;

  p:last-child {
    padding-bottom: 0.6rem;
  }
}

.price-card__size-right {
  padding-top: 2rem;
}

.allergen-container {
  padding-top: 1rem;
  p {
    margin: 0.5rem 0;
  }
}

.allergen-text {
  // float: right;
  padding-bottom: 5%;
  text-align: center;
  font-size: 0.8rem;
}

.notice {
  font-size: 0.8rem;
  padding-bottom: 1rem;
}

.info-text {
  text-align: center;
  padding-top: 1rem;

  h2 {
    border-bottom: 2px solid $peach;
    padding-bottom: 0.5rem;
  }

  p {
    font-size: 1.1rem;
  }
}


@media screen and (max-width: 576px) {
  .price-table {
    flex-direction: column;
    padding-top: 4rem;
  }
  
  .price-card {
    margin-bottom: 3rem;
    height: 54rem;
  }

  .price-card__size-left {
    padding-top: 2rem;
  }
}
