<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <%= link_to "TERMS AND CONDITIONS", terms_path, class: "footer-page-links" %>
  </div>
  <div class="footer-copyright">
    &copy; 2021 <%= link_to "Butter Bee Bakery", new_user_session_path, class: "login" %>. All Right Reserved. 
  </div>
</div>