<div class="container">
  <div class="icon_and_text">
    <i class="fas fa-check-circle icon"></i>
    <h2 class="confirm-title">Thank you for your order!</h2>
    <p class="confirm-text">We will endeavour to respond to your order request within 24 hours.<br> If you have any further questions please see FAQ or alternatively contact us by email.</p>
    <%= link_to "Back to Homepage", root_path, class: "btn-confirm" %>
  </div>
</div>