<div class="container">
  <div class="faq-title">
    <h2>Frequently Asked Questions</h2>
  </div>
  <div class="faq-box">
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            <h5 class="small-font">What is the minimum time to order before due date?</h5>
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
          For cakes and cupcakes, please order in advance of 7 days. 
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            <h5 class="small-font">Do you deliver?</h5>
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
          Yes.<br>
          We deliver partially to London zones from £5.<br>
          We will confirm if we deliver to your destination postcode after you submit your cake order form.<br> 
          Subject to availability.<br>
          Alternatively, you can collect from Ealing London W5.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            <h5 class="small-font">Do you offer cakes with special dietary needs?</h5>
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
          Currently we offer some flavours that are free from nuts.<br>
          However, Butter Bee Bakery is NOT an allergy-free kitchen.<br> 
          The following ingredients are used in our kitchen–<br> 
          Milk and other dairy produce, Eggs, Nuts (peanuts, walnuts, hazelnuts, treenuts, coconut), Sesame, Wheat and Gluten. <br> <br>
          Please notify us before placing an order to inform us of any food allergies that you or your party may have.<br>
          Please see <%= link_to "Terms and Conditions", terms_path %> for more information.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
            <h5 class="small-font">Should I refridgerate my cakes?</h5>
          </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
          Cakes can be left in the box at room temperature for a few hours before serving. If you plan to consume later or the next day cake should be refridgerated and taken out a few hours before serving. We recommend cakes to be eaten at room temperature for the best flavour and texture. Please note cakes should be consumed within 2 days and kept refrigerated once cut. Freezing our cakes is not recommended.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFive">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
            <h5 class="small-font">Do you make wedding cakes?</h5>
          </button>
        </h2>
        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
          Currently we do not make bespoke wedding cakes but we plan to do in future. 
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingSix">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
            <h5 class="small-font">Any other questions?</h5>
          </button>
        </h2>
        <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
          Please contact us via email. <br>
          <a href="mailto:butterbeebakerylondon@outlook.com">
          butterbeebakerylondon@outlook.com
          </a> <br>
          We will endeavour to respond within 24 hours.
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>