<div class="container">
  <div class="faq-title">
    <h2>Frequently Asked Questions</h2>
  </div>
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          What is the minimum time to order before due date?
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
        For cakes, please order in advance of 7 days.<br>
        For cupcakes, please order in advance of 5 days. 
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          Do you deliver?
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
        Yes.<br>
        We deliver within London from £5. Subject to availability.<br>
        Alternatively, you can collect from Ealing London W5.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          Do you offer cakes with special dietary needs?
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
        Currently we offer some flavours that are free from nuts.<br>
        However, Butter Bee Bakery is NOT an allergy-free kitchen. The following ingredients are used in our kitchen– Milk and other dairy produce, Eggs, Nuts (peanuts, walnuts, hazelnuts, treenuts, coconut), Sesame, Wheat and Gluten. <br>
        Please notify us before placing an order to inform us of any food allergies that you or your party may have. Please see Terms and Conditions for more information.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
          Do you make wedding cakes?
        </button>
      </h2>
      <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
        Currently we do not make bespoke wedding cakes but we plan to do in future. 
        </div>
      </div>
    </div>
  </div>  
</div>