<%= render 'shared/banner' %>
<div class="container">
  <div class="about">
    <h2>Bespoke Cake Design in London</h2> <br>
    <p>Butter Bee Bakery is an Artisan cake studio based in Ealing, London.</p>
    <p>We specialise in bespoke floral cake designs; featuring <br> edible flowers sculpted with Italian Meringue Buttercream.</p>
  </div>
  <br><br><br>
  <div class="seasonal_title">
    <h2>Limited Edition</h2><br>
    <p>Seasonal designs and flavours for a limited period only.</p>
  </div>
  <% if @seasonal_cake.nil? && @seasonal_cupcake.nil? %>
    <div class="seasonal">
      <% 4.times do %>
      <%= image_tag "coming_soon.PNG", class: "placeholder" %>
      <% end %>
    </div>
  <% end %>
  <%= render 'shared/seasonal' %>
  <%# <div class="sns_title"> %>
    <%# <h2>Follow Us</h2> %>
  <%# </div> %>
  <div class="sns-box">
  <%= render 'shared/sns' %>
  </div>
</div>