<%= render 'shared/banner' %>
<div class="container">
  <div class="about">
    <h2>Bespoke Cake Design in London</h2> <br>
    <p>Butter Bee Bakery is an Artisan cake studio based in Ealing, London</p>
    <p>We specialise in bespoke floral cake designs; featuring <br> edible flowers sculpted with Italian Meringue Buttercream.</p>
  </div>
  <br><br><br>
  <div class="seasonal_title">
    <h2>Seasonal Design</h2>
  </div>
  <%= render 'shared/seasonal' %>
</div>