<%= render 'shared/banner' %>
<div class="container">
  <div class="about">
    <h2>ButterCream Flower Cake in London</h2>
    <p>Our highly skilled Japanese bakers and patissiers produce a unique range of quintessentially Japanese breads and pastries on-site daily.</p>
  </div>
</div>