<div class="container">
  <div class="info-text">
    <h2>Menu</h2>
    <br>
    <p>All cake designs are bespoke and tailored to your design requests.<br><br>Please take a look at our Gallery for inspiration.<br> You can choose from our designs, merge designs or/and suggest your own idea. <br>We are most happy to create your ideal cake with you.</p>
  </div>
  <div class="price-table">
    <div class="price-card">
      <h2 class="price-card__title">Celebration Cakes</h2>
        <div class="price-card__flavour__cake">
          <span>Flavours</span>
          <p>Carrot Cake with Cream Cheese Buttercream Filling & Vanilla Buttercream (n)</p>
          <p>Chocolate Cake with Chocolate Hazelnut Buttercream Filling & Vanilla Buttercream (n)</p>
          <p>Coconut Cake with Coconut Ganache, Fruit (Peach/Kiwi) Filling & Vanilla Buttercream</p>
          <p>Lemon Cake with Vanilla Buttercream</p>
          <p>Vanilla Cake with Fruit (Strawberry/Peach/Kiwi) Filling & Vanilla Buttercream</p>
        </div>
        <div class="price-card__size-left">
          <span>Size & Price</span>
          <p>4'' (4-6 servings) &pound;30</p>
          <p>6'' (8-10 servings) &pound;35</p>
          <p>8'' (12-14 servings) &pound;80</p>
        </div>
        <%= link_to "Order", new_cake_order_path, class: "btn btn-main discover" %>
    </div>
    <div class="price-card">
      <h2 class="price-card__title">Cupcake Boxes</h2>
        <div class="price-card__flavour__cupcake">
          <span>Flavours</span>
          <p>Carrot Cake with Cream Cheese Frosting & Vanilla Buttercream (n)</p>
          <p>Chocolate Cake with Chocolate Hazelnut Frosting & Vanilla Buttercream (n)</p>
          <p>Black Sesame Cake with Sesame Tahini Frosting & Vanilla Buttercream (s)</p>
          <p>Matcha Cake with Matcha & Vanilla Buttercream</p>
          <p>Mocha Cake with Espresso & Vanilla Buttercream</p>
          <p>Peanut Butter Cake with Peanut Butter Frosting & Vanilla Buttercream (n)</p>
        </div>
        <div class="price-card__size-right">
          <span>Boxes & Price</span>
          <p>Box of 6 (1 flavour) &pound;24</p>
          <p>Box of 12 (1-2 flavour) &pound;44</p>
          <p class="notice"> &#10033; Min. order 6 / Max. order 48</p>
        </div>
        <%= link_to "Order", new_cupcake_order_path, class: "btn btn-main discover" %>
    </div>
  </div>
    <div class="allergen-container">
      <div class="allergen-text">
        <p>All cakes contain eggs, milk</p>
        <p>(n) contains treenuts, peanuts</p>
        <p>(s) contains sesame</p>
      </div>
    </div>
</div>


