<div class="container">
  <div class="info-text">
    <h2>PRIVACY POLICY</h2>
    <br>
    <p>Butter Bee Bakery is a privately owned business of Ka Lai Liu.<br> Please see our Privacy Policy below about the information we collect and how we use it.</p>
  </div>
  <div class="privacy-box">
  <h4>What information does Butter Bee Bakery collect from you?</h4>
  <p class="text-padding">
    We collect personal information that you voluntarily share with us when you submit an order via this website, email or message. We only ask of information that is needed in order to fulfill your order. 
  </p>
  <h4>How will Butter Bee Bakery use the information about you?</h4>
  <p class="text-padding">
    Your personal information is confidential. We will only use any personal information you have sent us to provide the products and services you have requested from us. We will not sell, distribute or lease your personal information to third parties unless required to do so by law. 
  </p>
  </div>
</div>