<div class="container">
  <div class="info-text">
    <h2>TERMS AND CONDITIONS</h2>
    <br>
    <p>By ordering from Butter Bee Bakery, you agree to be legally bound by these Terms and Conditions.</p>
  </div>
  <div class="terms-box">
    <h4>FOOD ALLERGY DISCLAIMER</h4>
    <p>
      Butter Bee Bakery is NOT an allergy-free kitchen. We cannot guarantee that our products are free from ingredients that may affect those with food allergies. Please notify us before placing an order to inform us of any food allergies that you or your party may have. Butter Bee Bakery will not assume any liability for adverse reactions to our products. The following ingredients are used in our kitchen– Milk and other dairy produce, Eggs, Nuts (peanuts, walnuts, hazelnuts, treenuts, coconut), Sesame, Wheat and Gluten. 
    </p>
    <h4>PAYMENT & DEPOSITS</h4>
    <p>
      Cakes and cupcakes require full payment to secure order. Full payment to be made in advance of 7 days. For orders over £100 a 50% deposit will be required to secure order. The remaining to be paid before the due date. Payment taken by bank transfer; detailed on invoice.
    </p>
    <h4>REFUNDS AND CANCELLATIONS</h4>
    <p>
      Cancellation by client - You can cancel one week before your due date and receive your payment/deposit back. If you cancel after this deadline you will lose your payment/deposit. Alternatively, you can change the due date to a later date. 
      Cancellation by Butter Bee Bakery - We shall not be liable for any failure to perform, where such failure or delay results from any circumstances outside our reasonable control. In the event of exceptional circumstances, such as serious illness, Butter Bee Bakery will give as much notice as possible if we are unable to fulfil your order.
    </p>
    <h4>THE PRODUCT</h4>
    <p>
      All goods are bespoke designed and handmade. Therefore, there will be variations in appearance. We can only create your finished order from what we interpret from the wording of your order; therefore, it is vital you are as descriptive as possible and check everything is correct. We advise you use our gallery photos as a reference. 
    </p>
    <h4>STORAGE </h4>
    <p>
      All cakes should be placed on a flat surface, out of direct sunlight. Cakes can be left in the box at room temperature for a few hours before serving. If you plan to consume later or the next day cake should be refridgerated and taken out a few hours before serving. We recommend cakes to be eaten at room temperature for the best flavour and texture. Please note cakes should be consumed within 2 days and kept refrigerated once cut. Freezing our cakes is not recommended.
    </p>
    <h4>NON-EDIBLE ITEMS </h4>
    <p>
      Some designs contain some inedible elements i.e. support dowels. This will be detailed on delivery note. It is the client’s responsibility to remove these before consumption. 
    </p>
    <h4>PHOTOGRAPHY</h4>
    <p>
      We will photograph our cakes / cupcakes and we reserve the right to use any photographs for display or promotion without compensation to the client. 
    </p>
    <h4>DELIVERY AND COLLECTION</h4>
    <p>
      If the cake or products are collected from us, we cannot be held liable for any damages to the cake or products once they have left our premises. We advise surfaces to be clear to allow the cake box to sit even, on a slip proof mat and that the driver drives carefully and slower. 
      We cannot be held liable for any damages to the cake or products we have delivered once we have delivered.  
    </p>
    <h4>COMPLAINTS</h4>
    <p>
      We are not responsible for mistakes made by the customer i.e. incorrect / misspelled names or incorrect choice of cake. 
      We will always take photographs of the cakes prior to delivery/collection. If you file a complaint we will investigate further. Cakes must be returned to us within 24 hours to ensure we are able to fairly assess the nature of the complaint. The cake must have been stored in the right temperature (out of the sun / away from damp conditions or heat) and in its original box. If you want a full refund you must return at least 75% of the uneaten product within 24 hours. 
      We do not refund clients that have simply changed their mind or the cake has been damaged out of our care. 
      We do not accept complaints for not liking the taste of our products. This is personal preference. 
    </p>
  </div>
</div>