.btn-main {
  color: white;
  width: 10rem;
  padding: 8px 24px;
  border-radius: 8px;
  font-weight: bold;
  background: $pink;
  transition: background 0.3s ease;
}

.btn-main:hover {
  background: $peach;
  color: white;
}

// .btn-white {
//   color: #4A4A4A;
//   border: 1px solid #4A4A4A;
//   padding: 4px 12px;
//   border-radius: 8px;
//   font-weight: lighter;
//   opacity: 0.6;
//   transition: opacity 0.3s ease;
// }

// .btn-white:hover {
//   opacity: 1;
// }