.footer {
  background: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  padding: 0 3rem;
  color: $brown;
  font-size: 0.9rem;
  width: 100%;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: $brown;
  text-decoration: none;
  padding: 0 0.5rem;
  transition: 0.4s;
}

.footer-links a:hover {
  color: $pink;
}

.footer-links i {
  font-size: 1.5rem;
}

.footer-page-links {
  color: $brown;
  font-size: 0.9rem;
  text-decoration: none;
  padding: 0 0.5rem;
  transition: 0.4s;
}

.footer-copyright {
  font-size: 0.9rem;
}

.login {
  text-decoration: none;
  color: $brown;
}

@media screen and (max-width: 576px) {
  .footer {
  flex-direction: column;
  padding: 10% 0 0 0;
  font-size: 0.5rem;
  }
  .footer-links {
    width: 95%;
    display: flex;
    justify-content: space-between;
  }

  .i-links {
    width: 16rem;
  }
  .p-links {
    display: flex;
    justify-content: flex-end;
    float: right;
    width: 15rem;
    overflow: hidden;
  }
  .footer-page-links {
    text-align: center;
    width: 7rem;
    font-size: 0.7rem;
  }
  .footer-copyright {
  padding: 1rem 0;
  }
}

@media screen and (max-width: 850px) and (min-width: 500px){
  .footer {
  flex-direction: column;
  padding: 0 2rem;
  }
}