.footer {
  background: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  padding: 0 3rem;
  color: $brown;
  font-size: 0.9rem;
  width: 100%;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: $brown;
  text-decoration: none;
  padding: 0 0.5rem;
  transition: 0.4s;
}

.footer-links a:hover {
  color: $pink;
}

.footer-links i {
  font-size: 1.5rem;
}

.footer-page-links {
  color: $brown;
  font-size: 0.9rem;
  text-decoration: none;
  padding: 0 0.5rem;
  transition: 0.4s;
  }

.footer-copyright {
  font-size: 0.9rem;
}

.login {
  text-decoration: none;
  color: $brown;
}

@media screen and (max-width: 576px) {
  .footer {
  flex-direction: column;
  padding: 0 2rem;
  }
}