.myfeed {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 0.5rem;
}

ul li {
  list-style: none;
}

.myfeed {
  li {
    width: 200px;
    height: 200px;
  }
}

.myfeed {
  li a {
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
  }
}