textarea {
  resize: none;
  margin-top: 2%;
  padding: 10px 10px 0px 20px;
  width: 100%;
  height: 10rem;
  background-color: $light-pink;
  border: 2px solid $white;
  &::placeholder {
    font-size: 0.9rem;
  }
}

textarea:focus {
  outline-color: $peach;
}

.small-notice {
  font-size: 0.75rem;
  margin-left: 1rem;
}

.color-red {
  color: $red;
}

.form-box {
  width: 70%;
  padding-top: 5%;
  margin: 0 auto;
}

label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  padding: 0.25rem;
}

.photo-label {
  font-weight: normal;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  margin: 0 auto 0.5rem auto;
  padding: 0.25rem;
}

.request-box {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

form {
  padding: 2.5rem 0.625rem;
  border-radius: 0.25rem;
}

.form-group {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

.form-group.cake_order_size {
  margin: 0 auto;
}

.form-group.cake_order_flavour {
  margin: 0 auto;
}

.form-group.cake_order_email {
  margin: 0 auto;
}

.form-group.cake_order_number {
  margin: 0 auto;
}

.form-group.cake_order_address {
  display: inline-block;
  width: 35%;
}

.form-group.cake_order_postcode {
  display: inline-block;
  width: 28%;
}

.form-group.cake_order_contact_number {
  display: inline-block;
  width: 26%;
}

.form-group.cupcake_order_flavour {
  margin: 0 auto;
}

.form-group.cupcake_order_boxes {
  margin: 0 auto;
}

.form-group.cupcake_order_email {
  margin: 0 auto;
}

.form-group.cupcake_order_number {
  margin: 0 auto;
}

.form-group.cupcake_order_address {
  display: inline-block;
  width: 35%;
}

.form-group.cupcake_order_postcode {
  display: inline-block;
  width: 28%;
}

.form-group.cupcake_order_contact_number {
  display: inline-block;
  width: 26%;
}

.delivery-option {
  display: none;
}

.photo-area {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 10rem;
}

.h3-padding-top {
  padding-top: 5%;
}

.form-control:focus {
  border-color: $pink;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255,192,203, 0.4);
}

.input-radio {
  display: inline-block;
  margin-right: 0.625rem;
}

.form-check-input{
  margin-top: 0.5rem;
}

.form-check-input:checked {
  background-color: $pink;
  border-color: $pink;
}

.form-control:disabled, .form-control[readonly] {
  background-color: $white;
}

@media screen and (max-width: 768px) {
  .form-box {
    width: 93%;
  }
  .info-text {
    width: 93%;
    margin: 0 auto;
    p {
      font-size: 1rem !important;
    }
  }
  .form-group.cake_order_address {
    display: inline;
  }
  .form-group.cake_order_postcode {
    margin: 1.25rem auto;
    width: 40%;
  }
  .form-group.cake_order_contact_number {
    margin: 1.25rem auto;
    width: 40%;
  }
  .form-group.cupcake_order_address {
    display: inline;
  }
  .form-group.cupcake_order_postcode {
    margin: 1.25rem auto;
    width: 40%;
  }
  .form-group.cupcake_order_contact_number {
    margin: 1.25rem auto;
    width: 40%;
  }
}