.feed-box {
  width: 28rem;
  height: 28rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
  a {
    display: block;
    width: 9rem;
    height: 9rem;
    z-index: 3;
    margin: 0;
    padding: 0;
    text-decoration: none;
    }
}

li {
  list-style: none;
}

.feed-image {
  width: 9rem;
  height: 9rem;
  margin: 0 auto;
  padding: 0;
}

.facebook {
  width: 25rem;
}

.follow {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  p {
  margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .feed-box {
    width: 22rem;
    height: 22rem;
    .feed-link {
    width: 7rem;
    height: 7rem;
    }
  }

  .feed-box {
    a {
      width: 7rem;
      height: 7rem;
    }
  }

  .feed_with_button {
    width: 22rem;
  }

  .feed-image {
  width: 7rem;
  height: 7rem;
  }

  .facebook {
    width: 20rem;
    padding-top: 3rem;
  }

  .follow {
    p {
    display: none;
    }
  }
}